<div id="contentContainer">
  <!--content-->
  <div id="content">
    <h1>You can contact us</h1>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam vel turpis. Duis sit amet lectus ac mauris porta viverra. Aliquam erat volutpat. Praesent ipsum pede, pretium sed, congue nec, pretium quis, urna. Suspendisse dignissim, elit in ultrices sollicitudin, nisl est accumsan orci, a venenatis dui mi porta pede. Aenean et pede quis est tincidunt varius. portfolio item.</p>
    <h2>Ask your question</h2>
    <br/>
    <form action="sendEmail.php" method="post" id="submitForm">
      <label id="message"></label>
      <span
class="greyTitle smallerText">Name</span> <span id="nameError"
class="errorMessage"></span><br />
      <input type="text" name="nameTextBox" class="input" id="nameTextBox" />
      <br />
      <br />
      <span class="greyTitle smallerText">E-mail</span> <span
id="emailError" class="errorMessage"></span><br />
      <input type="text" name="emailTextBox" class="input" id="emailTextBox" />
      <br />
      <br />
      <span class="greyTitle smallerText">Question</span> <span
id="questionError" class="errorMessage"></span><br />
      <textarea name="questionTextArea" rows="" cols="" class="textArea input"
id="questionTextArea"></textarea>
      <br />
      <br />
      <input type="button" value="Send" id="sendButton" />
    </form>
  </div>
  <!--Sidebar-->
  <div id="sidebar">
    <div class="sidebarBox">
      <div class="sidebarTitile">
        <h2> Address</h2>
      </div>
      <div class="sidebarMenu"><img src="images/map.jpg" alt="" class="sidebarImg" /> </div>
      <div class="sidebarTitile">
        <h2>Address info</h2>
      </div>
      <div class="sidebarMenu"> L.N Some Streat Unknown<br/>
        Location Of The Place<br/>
        City - City Name<br/>
        The Country<br/>
        <br/>
        <b>Other Contacts</b><br/>
        Phone: +123 3213 432<br/>
        Fax: +4332 434235 5453<br/>
        Email: info@companysite.com<br/>
      </div>
    </div>
  </div>
</div>
</div>