<div id="contentContainer">
  <!--content-->
  <div id="content">
    <h1>Contact us</h1>
    <p> We always like to hear from you... NOTTT! Not joke, get it?  No really, we do love to hear your comments/questions/angry rants. So, if you have any, please let us know, and we will get back to you as soon as we can.  Thanks!</p>
    <h2>Ask Away!</h2>
    <br/>
    <form action="sendEmail.php" method="post" id="submitForm">
      <label id="message"></label>
      <span
class="greyTitle smallerText">Name</span> <span id="nameError"
class="errorMessage"></span><br />
      <input type="text" name="nameTextBox" class="input" id="nameTextBox" />
      <br />
      <br />
      <span class="greyTitle smallerText">E-mail</span> <span
id="emailError" class="errorMessage"></span><br />
      <input type="text" name="emailTextBox" class="input" id="emailTextBox" />
      <br />
      <br />
      <span class="greyTitle smallerText">Question</span> <span
id="questionError" class="errorMessage"></span><br />
      <textarea name="questionTextArea" rows="" cols="" class="textArea input"
id="questionTextArea"></textarea>
      <br />
      <br />
      <input type="button" value="Send" id="sendButton" />
    </form>
  </div>
  <!--Sidebar-->
  <div id="sidebar">
    <div class="sidebarBox">
      <div class="sidebarTitile">
        <h2> Address</h2>
      </div>
      <div class="sidebarMenu"><img src="images/map.jpg" alt="" class="sidebarImg" /> </div>
      <div class="sidebarTitile">
        <h2>Address info</h2>
      </div>
      <div class="sidebarMenu"> L.N Some Streat Unknown<br/>
        Location Of The Place<br/>
        City - City Name<br/>
        The Country<br/>
        <br/>
        <b>Other Contacts</b><br/>
        Phone: +123 3213 432<br/>
        Fax: +4332 434235 5453<br/>
        Email: info@companysite.com<br/>
      </div>
    </div>
  </div>

</div>