/* ----------- Restart-----------------*/


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}

fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

a { 
	outline: 0; 
}



/* ----------- End Restart-----------------*/

/*---------------------------- TEXT STYLES ----------------------------*/

a{
	text-decoration:underline;
	color:#999999;
}


h1, h2, h3, h4, h5, h6 {
	font-family:"Times New Roman", Times, serif;
	padding-bottom:15px;
	padding-top:25px;	
	color:#222;
	text-shadow:1px 1px #fff;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	color:#222;
}

h1 a:hover{
	color:#515151;
}


h1 {
	font-size:30px;
}
h2 {
	font-size:23px;
}

h3 {
	font-size:20px;	

}


h4 {
	font-size:17px;
	font-weight:bold;
}

h5 {
	font-size:16px;
	font-weight:bold;
}


h6 {
	font-size:15px;
	font-weight:bold;
}


hr {
	background-color:#c6c6c6;
	border:#c6c6c6;
	height:1px;
}

p{
	margin-bottom:15px;
	margin-top:15px;	
}

ul{
	list-style:disc;
	margin-left:30px;
}

ol{
	margin-left:35px;
}

strong{
	font-weight:bold;
}

em{
	font-style:italic;
}


.alignleft{
	float:left;
}

.alignright{
	float:right;
}

hr{
	border-style:solid;
	border-width:1px;
	border-bottom-width:0px;
	border-color:#c6c6c6;
}


div.hr1 {
  height: 1px;
  background-color:#c6c6c6;
}
div.hr1 hr {
  display: none;
}

div.hr2 {
  height: 1px;
  background-color:#c6c6c6;;
}
div.hr2 hr {
  display: none;
}

div.hr3 {
  height: 1px;
    background-color:#c6c6c6;
}
div.hr3 hr {
  display: none;
}


div.hr4 {
  height: 1px;
    background-color:#c6c6c6;;
}
div.hr4 hr {
  display: none;
}


div.hr5 {
  height: 1px;
  margin-top:20px;
   background-color:#c6c6c6;;
}
div.hr5 hr {
  display: none;
}

div.hr6 {
  height: 1px;
  margin-top:40px;
   background-color:#c6c6c6;
}
div.hr6 hr {
  display: none;
}




/*---------------------------- END TEXT STYLES ----------------------------*/



body {
	font-family:"Times New Roman", Times, serif;
	font-size:17px;
	color:#222222;
	font-weight:300;
	line-height:1.5em;
	background-color:#f3f3f3;	
	text-shadow:1px 1px #fff;
}

#mainContainer{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	background-color:#f3f3f3;
	overflow:hidden;
}

#lineTop{
	height:5px;
	background-color:#1e1e1e;
	border-bottom:1px solid #FFFFFF;
}


.center{
	height:auto;
	width:960px;
	margin:auto;
	text-align:left;
	padding:0px;
	position:relative;

}


/*---------------------------- LOGO ----------------------------*/


#logoContainer{
	height:125px;
	width:960px;
	float:left;
}



#logoContainer a{
	width:300px;
	height:91px;
	display:block;
	/*background-image:url(../images/logo.png);*/
	background-repeat:no-repeat;
	position:relative;
	top:20px;
	margin:auto;
	
}



/*-------------------------MENU---------------------------------*/



#navigationContainer{
	height:41px;
	width:960px;
	float:left;
	z-index:-100;
}

#menu{
	height:21px;
	margin:auto;
	padding-top:19px;
	width:960px;
}

#menu ul{
	margin:auto;
	text-align:center;
	margin:auto;
	display:block;
	height:20px;
}


#menu ul li{ 
    display: inline;
}

#menu ul li a{
	text-transform:uppercase;
	padding-right:15px;
	padding-left:15px;
	font-size:16px;
	line-height:0.2em;
	color:#222222;
	height:30px;
}

#menu ul li a:hover{
    color:#656565;
}

#menu ul li.selected a{
	color:#222222;
}


/*------------------DROP DOWN MENU------------------------*/



#menu ul li ul{
     position:absolute;
     left:0px; 
	 top:29px;  
     background-color:#f3f3f3;  
     margin:0;
	 padding:0;
	 padding-top:0px;
     float:left;  
     width:130px;  
	 border:1px solid #ccc;
	 border-top:0px;
	 z-index:100;
	 height:auto;
	 visibility:hidden;
	 text-align:left;
	 padding-left:15px;
	 padding-right:15px;
}

#menu ul li ul li{
    margin:0px;
	padding:0px;	
	display:block;
	position:relative;
	height:40px;
}


#menu ul li ul li a {
	float:left;
	width:130px;
	border-width:0px;
	background-color:#f3f3f3;  
	line-height:2.5em;
	margin:0px;
	padding:0px;
	font-size:13px;
	padding-bottom:5px;
	text-transform:uppercase;
	font-weight:normal;
	height:auto;
}

#menu ul li.selected ul li a{
	font-weight:normal;
}

#menu ul li ul li.selected  a{
	color:#222;
}

#menu ul li ul li ul{
	border:1px solid #ccc;
	position:absolute;
	top:0px;
	left:145px;
}

#menu ul li.selected ul li a:hover{
    color:#656565;
}

/*---------------------------HEADER----------------------------*/

#header{
	width:960px;
	height:600px;
	float:left;
	position:relative;
	top:25px;

}

/*------------------------------SLIDER-----------------------------*/

.fadeWrapper{

	background-color:#FFFFFF;
	border:1px solid #c6c6c6;		
	position:relative;
	width:934px;
	height:550px;
	padding:12px;
}

.fadeHolder{
	width:954px;
	height:545px;
	position:absolute;
	top:12px;
	left:12px;
}

.imageHolder{
	width:936px;
	height:550px;
	position:absolute;

}

.sliderContainer{
	width:935px;
	height:547px;
	background-color:#f2f2f1;
	padding:5px;
	border:1px solid #c1c1c1;
}

div.wrapper {
	position: relative;
	top:0px;
	left:0px;
	width:932px;
	height:548px;
	padding:0px;
	overflow:hidden;
	border:1px solid grey;
	text-align:center;
}

ul.wrapper  {
    display: block;
    padding:0px;
    margin: 0px;
    list-style: none;
}

.wrapper li {
    display: block;
    float: left;
    padding: 0;
}

.imageHolder {
	float:left;
	display:inline;
	text-align:center;
	position:absolute;
	top:0px;
	left:0px;
	width:600px;
}

.black{
	width:700px;
	height:548px;
	background-image:url(../images/shadow.png);
	background-repeat:repeat-y;
	position:absolute;
	top:0px;
	left:0px;
	z-index:30;
	background-color:transparent;
}

.imgInfo{
	background-image:url(../images/trans.png);
	width:922px;
	height:auto;
	z-index:99;
	position:absolute;
	bottom:-150px;
	left:0px;
	padding-left:10px;
	color:#fff;
	text-align:left;
	font-size:13px;
	padding-bottom:10px;
	text-shadow:none;
	font-family:Arial, Helvetica, sans-serif;
}

.imgInfo h3{
	text-shadow:none;
	color:#fff;
	padding-top:5px;
	padding-bottom:10px;
}

/*------------------------------END SLIDER------------------------------*/

/*---------------------------- CONTENT ----------------------------*/

#contentContainer{
	margin-top:40px;
	position:relative;
	min-height:500px;
	width:960px;
	float:left;
	height:auto;
	padding-bottom:30px;
}

#topText{
	width:960px;
	margin-top:25px;
	position:relative;
	float:left;
	
}

#topText p{
	font-size:20px;
	text-transform:uppercase;
	text-align:center;
	line-height:1.2em;
	color:#222;
	letter-spacing:1px;
	margin-top:12px;
	margin-bottom:12px;
	font-family:"Times New Roman", Times, serif;
	
}

#content{
	height:auto;
	width:600px;
	float:left;
	padding-right:30px;
	margin-top:-20px;
}

#content h2+hr{
	margin-bottom:20px;
}

#pageContent{
	padding-top:11px;
}

.featuredTitleContainer{
	color:#959595;
	text-transform:uppercase;
	text-align:center;
}

.smallSubtitle{
	color:#999999;
	font-size:14px;
	margin-top:0px;
}

/*-------------------BLOG CONTENT------------------*/

.postBoxs{
	margin-top:-15px;
	margin-left:-3px;
}

.postBoxs hr{
	margin-top:40px;
	border-width:0px;
	border-bottom-width:0px;
	border-color:#bfbfbf;
	background-color:#bfbfbf;
	color:#bfbfbf;
}

.postBox{

	margin-bottom:19px;
	margin-top:30px;
	min-height:300px;
}

.postBox h1{
	padding-bottom:5px;
	padding-top:5px;
}

.postBox h1 a{
	text-decoration:none;
}

.date{
	text-transform:uppercase;
	color:#ef9100;
	width:63px;
	height:76px;
	background-image:url(../images/date_bg.jpg);
	float:left;
	margin-top:0px;
	position:relative;
}

.date h1{
	padding-top:10px;
	padding-bottom:0px;
	padding-left:10px;
	font-size:25px;
}

.date h3{
	padding-top:0px;
	padding-bottom:0px;
	padding-left:10px;
	color:#999999;
	position:relative;
	top:-3px;
	font-size:20px;
}

.month{
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);	
	display:block;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	writing-mode: tb-rl;
	filter: flipV flipH;
	color:#222;
	font-family:Arial, Helvetica, sans-serif;
	position:absolute;
	top:9px;
	right:10px;
	font-size:11px;
	text-shadow:none;
}

.info{
	width:100%;
	min-height:80px;
	display:block;
	margin-bottom:20px;
}


.postInfo{
	font-size:13px;
	color:#999999;
	margin-bottom:15px;
	float:left;
	text-transform:uppercase;
	width:500px;
}

.postInfo a{
	color:#999999;
	text-decoration:none;
}

.postContent{
	display:block;
}



.moreLink{
	color:#999999;;
	text-decoration:none;
}

.moreLink:hover{
	text-decoration:underline;
}

.postImg{
	float:left;
	padding:4px;
	background-color:#FFFFFF;
	border:1px solid #d6d6d6;
	margin-right:20px;	
}

.postImg+p{
	margin-top:0px;
}

/*-------------------PORTFOLIO CONTENT----------------*/

#portfolio{
	width:990px;
	height:auto;
	margin-left:-15px;
	margin-top:7px;
	padding:0px;
}

#portfolio img{
	float:left;
	padding:4px;
	background-color:#FFFFFF;
	border:1px solid #d6d6d6;
	height:auto;
}

.portfolioItem{
	height:200px;
	width:300px;
	position:relative;
	float:left;
	margin-right:15px;
	margin-left:15px;
	margin-bottom:30px;
	overflow:hidden;
}
.portfolioItemInfo{
	background-image:url(../images/trans.png);
	width:280px;
	height:auto;
	z-index:99;
	position:absolute;
	bottom:-100px;
	left:5px;
	padding-left:10px;
	text-shadow:none;
	
}

.zeroHeight{
	height:0px;
}

p.infoTitle, p.infoTitle a{
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
	margin-bottom:0px;
	text-decoration:none;
}
.portfolioItemInfo p{
	color:#FFFFFF;
	margin-top:0px;
	font-size:14px;
}

#navButtons{
	float:left;
}

#navButtonLeft a{
    height:27px;
    width:33px;
	background-image:url(../images/arrow_left.jpg);
	background-position:0 0;
	display:block;
	float:left;
}

#navButtonLeft a:hover {
	background-position: 0px 29px;
}


#navButtonRight  a{
   
    height:27px;
    width:33px;
	background-image:url(../images/arrow_right.jpg);
	display:block;
	float:right;
	background-position:0 0;
}

#navButtonRight a:hover {
	background-position:0px 29px;
}

#navButtons{
	float:left;
	width:960px;
}


#portfolioCategories{
	margin-left:15px;
	margin-bottom:30px;
	margin-top:-10px;
	font-size:13px;
	background-image:url(../images/bundle_bg.jpg);
	width:938px;
	height:39px;
	line-height:37px;
	padding-left:20px;
	color:#242520;
	text-transform:uppercase;
	position:relative;
}

#portfolioCategories span{
	padding-left:10px;
	padding-right:10px;
	font-size:13px;
	text-transform:uppercase;
}

.leftBundle{
	width:24px;
	height:41px;
	background-image:url(../images/bundle_left.jpg);
	position:absolute;
	top:0px;
	left:-18px;
}

.rightBundle{
	width:24px;
	height:41px;
	background-image:url(../images/bundle_right.jpg);
	position:absolute;
	top:0px;
	right:-18px;
}

/*----------------SERVICES CONTENT---------------*/

.servicesBox{
	margin-top:25px;
	min-height:220px;
}

.servicesBoxs h2{
	padding-top:0px;
	padding-bottom:5px;
	text-transform:capitalize;
}

.servicesBoxs hr{
	width:600px;
	margin-top:20px;
	float:right;
	margin-bottom:30px;
	border:0px;
	border-bottom-width:1px;
}

.servicesImg{
	float:left;
	padding:5px;
	background-color:#FFFFFF;
	border:1px solid #dadada;
	margin-right:20px;
}

.borderImg{
	padding:5px;
	background-color:#FFFFFF;
	border:1px solid #dadada;
}

.smallPostImg{
	float:left; 
	margin-right:10px; 
	border:1px solid #ccc;
	margin-top:4px;
}


/*-----------------------  SIDEBAR MENU  ---------------------------*/


#sidebar{
	width:310px;
	height:100%;
	float:right;
	background-color:#FFFFFF;
	border:1px solid #eaeaea;
}

.sidebarBox{
	margin-left:30px;
	width:292px;
	padding-top:11px;
}

.sidebarTitile{
	width:356px;
	height:50px;
	background-image:url(../images/sidebar_title.jpg);
	margin-left:-55px;
	text-align:center;
}

.sidebarBox h2{
	font-style:italic;
	position:relative;
	top:-18px;
}

.sidebarMenu{
	margin-bottom:40px;
	padding-right:10px;
}

.sidebarMenu h4{
	padding-top:3px;
	padding-bottom:0px;
	padding-right:30px;
	font-weight:normal;
}

.sidebarMenu h4 a{
	text-decoration:none;
}

.sidebarMenu a:hover h4{
	color:#515151;
}

.sidebarImg{
	margin-top:10px;
	margin-bottom:-20px;
	border:1px solid #eaeaea;
}

span.info, span.info a{
	padding-top:10px;
	padding-bottom:0px;
	color:#999999;
	display:inline;
	text-decoration:none;
}

.sidebarMenu hr{
	margin-left:-30px;
	border:0px;
	border-bottom-width:1px solid #f2f2f2;
	background-color:#f2f2f2;
	border:#f2f2f2;
	height:1px;
}

.bubble{
	width:24px;
	height:17px;
	background-image:url(../images/bubble.jpg);
	background-repeat:no-repeat;
	display:inline-table;
	position:relative;
	top:5px;
	margin-left:3px;
	margin-right:3px;
}

.sidebarMenu ul{ 	
	text-decoration: none;
	font-weight:300;
	margin-left:0px;
	list-style:none;
	padding-top:15px;
}

.sidebarMenu ul li a{
	display:block;
	height:20px;
	width:275px;
	color:#222;
	padding-left:0px;
	text-decoration: none;
	list-style:none;
	line-height:20px;
	font-size:17px;
}

.sidebarMenu ul li a:hover{
	color:#515151;
}

/*-----------------------  FOOTER  ---------------------------*/

#footer{
	height:75px;
	width:100%;
	float:left;
	background-color:#e7e7e7;
	border:0px;
	border-top:1px solid #d5d5d5;
	margin:30px 0 0 0;
	padding:0px;
	position:relative;
}

#footer p{
	color:#222;
	font-size:12px;
	float:left;
}

#footerMenu{
	float:right;
}

#footerMenu ul{
	margin-top:15px;
	text-align:left;
	font-size:12px;
	color:#656565;
}

#footerMenu ul li{
	float:left;
	text-decoration: none;
	padding-left:15px;
	list-style:none;
}

#footerMenu ul li a{
	color:#222;
	text-decoration: none;
	font-size:13px;
}

#footerMenu ul li a:hover{
	color:#000;
}

/*---------------------------------------------------*/

#pp_full_res img{
	border:1px solid #828282;
}



/*---------------------------- CONTACT PAGE ----------------------------*/
.input{
	width:250px;
	height:20px;
	border:1px solid #ccc;
	background-color:#fff;
	padding-top:6px;
}

.textArea{
	height:205px;
	width:300px;
	padding-top:0px;
	font-family:Arial;
	font-size:12px;
	padding-top:8px;
	padding-bottom:8px;
}

.errorMessage{
	color:#cc0000;
}

/*----------------------------TABLES---------------------*/

table
{
	border:1px solid #d8d8d8;
	border-collapse:collapse;
	margin-top:20px;
	margin-bottom:20px;
}

td
{
	border:1px solid #d8d8d8;
	padding-left:10px;
	padding-right:10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

td#today{
	background-color: #ededed;
}

th
{
	border:1px solid #d8d8d8;
	border:1px solid #d8d8d8;
	padding-left:10px;
	padding-right:10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #ededed;
}

caption{
	margin-bottom:10px;	
	font-size:18px;
}

