<style>
.featured_image .button_holder
{
	border-width:1px;
	border-style:solid;
	padding:3px 6px;
	float:left;
}

div.wrapper
{
	width:954px;
}

</style>

    


  <div id="header" >

    <div class="wrapper">	
	<div class="fadeWrapper">
			<div id="male_photo_holder">
     		<a id="inline_fancybox" href="#male_info_dialog">
			
			<div class="fadeHolder"> </div>
 
			</a>
			</div>
			
			<div id="female_photo_holder" style="display:none">
				<a id="inline_fancybox" href="#female_info_dialog">
				
				<div class="fadeHolder">  </div>
			 	
				</a>
			</div>
      </div>
    </div>
  </div>
	
  <div id="contentContainer">
    
    <div id="content">
	
		
		<div class="featuredTitleContainer"><div class="hr1"><hr /></div>About Us<div class="hr2"><hr /></div></div>
      <br/>
      <p>  Epic stories, one paragraph at a time.  
      <br /><br/>


	  <div class="featuredTitleContainer"><div class="hr1"><hr /></div>How it works<div class="hr2"><hr /></div></div>
      <br/>
	 Epic stories is a site that seeks to empower the casual paragraph writer to create a story.  How you ask?  Well, a user need only a brain to start writing a story (no zombie brains allowed).  On our aptly named "write a story page", enter one paragraph and choose a color.  Once you are done with your paragraph feel free to add another paragraph or, wait for one of your friends to come write one.   </p>
	<br/>
      <div class="servicesBoxs">

      </div>
    </div>





	
    <div id="sidebar">
      <div class="sidebarBox">
        <div class="sidebarTitile">
          <h2> Recent Daters </h2>
        </div>
        <div class="sidebarMenu" id="sidebarRecent">
        </div>
        <div class="sidebarTitile">
          <h2>Buzz</h2>
        </div>
        <div class="sidebarMenu" id="sidebarBuzz">
          <ul>
				
          </ul>
        </div>
      </div>
    </div>








	<script>
	
	$(document).ready(function() {
		

		
		
		
	    var twurl = 'http://search.twitter.com/search.json';
	    $.ajaxSetup({ cache: true });
	    $.getJSON(
	        twurl + '?callback=?&rpp=5&q=OneDateDaily',
	        function(data) {
	            $.each(data.results, function(i, tweet) {
	                if (tweet.text !== undefined) {
	                    var date_tweet = new Date(tweet.created_at);
	                    var date_now = new Date();
	                    var date_diff = date_now - date_tweet;
						var fromTweeter = tweet.from_user;
	                    var hours = Math.round(date_diff/(1000*60*60));
	                    var tweet_html = '<li>';
	                    tweet_html += '<a href="http://www.twitter.com/';
	                    tweet_html += fromTweeter +'/status/' +tweet.id +'">';
	                    tweet_html += tweet.text + '</a></div>';
	                    tweet_html += '<span class="info">' + tweet.from_user + ' - ' + hours;
	                    tweet_html += ' hours ago</span><hr/></li>';
	                    $('#sidebarBuzz ul').append(tweet_html);
	                }
	            });
	        }
	    );
	

	
	});
	
	</script>


</div>

